{format, [
    {files, [
		"include/*.hrl"
		,"src/*.erl"
		, "src/**/*.erl"
		, "src/***/**/*.erl"
	]}

	% ignore specific files
	,{ignore, []}

	% sr_formatter %% The steamroller formatter interface.
	% erlfmt_formatter %% The erlfmt formatter interface.
	% otp_formatter %% come with Erlang/OTP(erl_prettypr).
	% default_formatter
	,{formatter, erlfmt_formatter} 

    ,{options, #{
		% options for erlfmt
		print_width => 140
		,ignore_pragma => false

		% options for default
        ,paper => 180
		,break_indent => 4
		,sub_indent => 2

		% inlining() :: all | none | {when_over, pos_integer()} | {when_under, pos_integer()}
		,inline_attributes => {when_over, 5}
		,inline_fields => {when_over, 5}
		,inline_items => {when_over, 5}

        ,inline_simple_funs => true
		,inline_qualified_function_composition => true
        ,inline_clause_bodies => true
		,inline_expressions => true

		,parenthesize_infix_operations => false
		,spaces_around_arguments => false
		,spaces_around_arguments => false
		,preserve_empty_lines => true
    }}
]}.

{plugins, [
	rebar3_format
	, steamroller
	, erlfmt
]}.

